<body>
    <div class="row all">
        <div class="row cards">
            <div class="col-sm-12">
                <p>goods - Электроника - Мобильные телефоны и аксессуары - Мобильные телфоны - Смартфон Apple iPhone 11
                    128GB Black (MWM02RU/A)</p>
            </div>
            <div class="col-sm-12">
                <p>Смартфон Apple iPhone 11 128GB Black (MWM02RU/A)</p>
            </div>
            <!-- <div class="col-sm-12" style="margin-bottom: 20px;">
                Артикул 100 025 399 381 | <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><span> (22)</span> |
                <a href="#" style="color: #5A7BD0;">В избранное</a>
            </div> -->
            <div class="col-sm-7 col-12">
                <p>Артикул 100 025</p>
            </div>
            <div class="col-sm-5 col-12" style="text-align: right;"><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i></div>
            <div class="col-sm-1">
                %slider%
            </div>
            <div class="col-sm-3">
                %full img%
            </div>
            <div class="col-sm-12 col-lg-4">
                <span>Операционная система: </span><span>iOS</span><br>
                <span>Встроенная память, в гигабайтах: </span><span>128</span><br>
                <span>Оперативная память, в гигабайтах: </span><span>4</span><br>
                <span>Возможность расширения памяти: </span><span>Нет</span><br>
                <span>Диагональ экрана, в дюймах: </span><span>6.1</span><br>
                <span>Цвет:</span><br>
                %slider%<br>
                <span>Объем памяти:</span><br>
                %memory%<br>
                <a href="#" style="color: #5A7BD0;">Все характеристики</a><br>
            </div>
            <div class="col-sm-12 col-lg-3">
                <p style="font-weight: 900; font-size: 24px;">100 609 ₽</p>
                <!-- <button class="btn_add">Добавить корзину</button> -->
                <div class="col-sm-12">
                    <button class="btn_add">Добавить корзину</button><br>
                </div>
                <div class="rows">
                    <div class="col-sm-6"><button class="btn">Подарить</button></div>
                    <div class="col-sm-6"><button class="btn">Купить в 1 клик</button></div>
                </div>
                <p class="bold_text">Доставка</p>
                <div class="rows">
                    <div class="col-sm-2">
                        <i class="fas fa-truck fa-xl"></i>
                    </div>
                    <div class="col-sm-10">
                        <p>Доставка, от 1 ₽</p>
                    </div>
                </div>
                <div class="rows">
                    <div class="col-sm-2">
                        <i class="fas fa-map-marker-alt fa-lg"></i>
                    </div>
                    <div class="col-sm-10">
                        <p>Cамовывоз, от 1 ₽</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <a href="#">О товаре</a> | <a href="#">Характеристики</a> | <a href="#">Отзывы</a>
            </div>

            <!-- <div class="col-sm-12">
                <p style="margin-top: 10px;" class="bold_text">Описание</p>
                <p>Смартфон Apple iPhone 11 Black (MWM02RU/A) оснащен IPS-дисплеем размером 6,1 дюймов по диагонали. Для
                    передачи данных поддерживаются стандарты связи GPRS, 4G (LTE), 3G, 2G. Можно пользоваться услугами
                    одного мобильного оператора при наличии встроенной SIM-карты. Для проведения покупок посредством
                    смартфона внедрены технологии NFC, Apple Pay.</p>
            </div> -->
            <!-- <div class="col-sm-12">
                <p style="margin-top: 10px;" class="bold_text">Характеристики</p>
                <p>Тут хар</p>
            </div> -->
            <div class="col-sm-12">
                <p style="margin-top: 10px;" class="bold_text">Отзывы</p>
                <button style="margin-right: 10px;" class="btn_review">Оставить отзыв</button>
                <select>
                    <option>Сортировать по оценке</option>
                    <option>Сортировать по дате</option>
                </select>
            </div>
            <div class="cards">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-12 col-lg-1" style="margin-left: 14px;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Ski_trail_rating_symbol_black_circle.png"
                            alt="ava" width="65">
                    </div>
                    <div class="col-sm-12 col-lg-10" style="margin-left: 14px;">
                        <p><span class="bold_text">Иван Донин</span> 11 апреля 2020 года</p>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="col-sm-12">
                    <p class="bold_text">Достоинства</p>
                    <p>Отлично держит заряд, приятный дизайн, режим вечерней/ночной съёмки, хороший размер для ладони
                        девушки
                    </p>
                    <p class="bold_text">Недостатки</p>
                    <p>Отлично держит заряд, приятный дизайн, режим вечерней/ночной съёмки, хороший размер для ладони
                        девушки
                    </p>
                    <p class="bold_text">Комментарий</p>
                    <p>Отлично держит заряд, приятный дизайн, режим вечерней/ночной съёмки, хороший размер для ладони
                        девушки
                    </p>
                    <a href="#"><i class="fas fa-thumbs-up"></i></a> <span>444</span> <a href="#"><i
                            class="fas fa-thumbs-down"></i></a> <span>555</span>
                </div>
            </div>
        </div>
    </div>
</body>
