    <body>
        <!-- <div class="row all" style="text-align: center; padding: 200px;">
            <div class="col-sm-12">
                <p>Найдите товары в нашем каталоге или воспользуйтесь поиском.</p>
            </div>
            <div class="col-sm-12">
                <button class="btn_catalog">Перейти</button>
            </div>
        </div> -->
        <div class="row all">
            <div class="col-xl-12 col-sm-12">
                <p class="bold_text">Корзина</p>
                <hr>
            </div>
            <div class="col-xl-7 col-sm-12 proceed">
                <div class="row prod">
                    <div class="col-md-1 col-sm-12">
                        <a href="#"><img src="#" alt="img"></a>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <a href="#">
                            %title%
                        </a>
                        <br>
                        <a href="#" class="to_fav">В избранное</a>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        %price%
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        %price%
                    </div>
                    <div class="col-md-1 col-sm-12">
                        X
                    </div>
                </div>
                <div class="row prod">
                    <div class="col-md-1 col-sm-12">
                        <a href="#"><img src="#" alt="img"></a>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <a href="#">
                            %title%
                        </a>
                        <br>
                        <a href="#" class="to_fav">В избранное</a>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        %price%
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        %price%
                    </div>
                    <div class="col-md-1 col-sm-12">
                        X
                    </div>
                </div>
                <div class="row prod">
                    <div class="col-md-1 col-sm-12">
                        <a href="#"><img src="#" alt="img"></a>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <a href="#">
                            %title%
                        </a>
                        <br>
                        <a href="#" class="to_fav">В избранное</a>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        %price%
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        %price%
                    </div>
                    <div class="col-md-1 col-sm-12">
                        X
                    </div>
                </div>
                <hr>
                <div style="text-align: right;">
                    <p style="margin-bottom: 10px;">Товаров на сумму: %price%</p>
                    <input type="text" placeholder="Введите промокод">
                    <button class="btn_add">Применить</button>
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 proceed">
                <button class="btn_proceed">Перейти к оформлению</button>
                <p>Доступные способы и время доставки можно выбрать при оформлении заказа</p>
                <hr>
                <div class="rows">
                    <div class="col-sm-12">
                        <p class="bold_text">Ваша корзина</p>
                    </div>
                </div>
                <div class="rows">
                    <div class="col-sm-6">
                        <p>Товары (%quan%)</p>
                    </div>
                    <div class="col-sm-6" style="text-align: right !important;">
                        <p>%price%</p>
                    </div>
                </div>
                <div class="rows">
                    <div class="col-sm-6">
                        <p>Скидка</p>
                    </div>
                    <div class="col-sm-6" style="text-align: right !important;">
                        <p>%discount%</p>
                    </div>
                </div>
                <hr>
                <div class="rows">
                    <div class="col-sm-8">
                        <p class="bold_text">Общая стоимость</p>
                    </div>
                    <div class="col-sm-4" style="text-align: right !important;">
                        <p>%price%</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
