<body>
    <div class="row all" style="text-align: center; padding: 200px;">
        <div class="col-sm-12">
            <p>Ваш список избранных товаров пока пуст. <br>Найдите товары в нашем каталоге или воспользуйтесь поиском.
            </p>
        </div>
        <div class="col-sm-12">
            <button class="btn_catalog">Перейти</button>
        </div>
    </div>
    <!-- <div class="row all">
        <div class="col-xl-12 col-sm-12">
            <p class="bold_text">Избранное</p>
        </div>
        <div class="col-xl-12 col-sm-12">
            <select>
                <option>Сначала новые</option>
                <option>Сначала старые</option>
                <option>Сначала дешевые</option>
                <option>Сначала дорогие</option>
            </select>
            <hr>
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 card">
                <a href="#"><img src="#" alt="img"></a>
                <p>%price%</p>
                <p>%title%</p>
                <p>%rating%</p>
                <button class="btn_add">Добавить в корзину</button>
                <p>%notification%</p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 card">
                <a href="#"><img src="#" alt="img"></a>
                <p>%price%</p>
                <p>%title%</p>
                <p>%rating%</p>
                <button class="btn_add">Добавить в корзину</button>
                <p>%notification%</p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 card">
                <a href="#"><img src="#" alt="img"></a>
                <p>%price%</p>
                <p>%title%</p>
                <p>%rating%</p>
                <button class="btn_add">Добавить в корзину</button>
                <p>%notification%</p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 card">
                <a href="#"><img src="#" alt="img"></a>
                <p>%price%</p>
                <p>%title%</p>
                <p>%rating%</p>
                <button class="btn_add">Добавить в корзину</button>
                <p>%notification%</p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 card">
                <a href="#"><img src="#" alt="img"></a>
                <p>%price%</p>
                <p>%title%</p>
                <p>%rating%</p>
                <button class="btn_add">Добавить в корзину</button>
                <p>%notification%</p>
            </div>
        </div>
    </div> -->
</body>
