<body>
    <div class="row all">
        <!-- <div class="col-sm-12">
            <p>goods</p>
        </div>
        <div class="col-sm-12">
            <p class="bold_text">Каталог</p>
        </div>
        <div class="row">
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
        </div> -->
        <!-- <div class="col-sm-12">
            <p>goods - Электроника</p>
        </div>
        <div class="col-sm-12">
            <p class="bold_text">Электроника</p>
        </div>
        <div class="row">
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
        </div> -->



        <div class="col-sm-12">
            <p>goods - Электроника - Мобильные телефоны</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p class="bold_text">Мобильные телефоны</p>
        </div>
        <div class="col-sm-12 col-md-6" style="text-align: right; margin-bottom: 10px;">
            <select>
                <option>Сначала новые</option>
                <option>Сначала старые</option>
                <option>Сначала дешевые</option>
                <option>Сначала дорогие</option>
            </select>
        </div>
        <div class="col-lg-3 col-sm-12 filter" style="margin-bottom: 10px;">
            <p class="bold_text" style="text-align: left;">Цена</p>
            <hr>
            <p>от <input type="text" size="9"> до <input type="text" size="9"></p>
            <p class="bold_text" style="text-align: left; margin-top: 10px;">Бренды</p>
            <input type="checkbox" class="checkbox" id="apple" />
            <label for="apple">Apple</label><br>
            <input type="checkbox" class="checkbox" id="samsung" />
            <label for="samsung">Samsung</label><br>
            <input type="checkbox" class="checkbox" id="xiaomi" />
            <label for="xiaomi">Xiaomi</label><br>
            <input type="checkbox" class="checkbox" id="lg" />
            <label for="lg">LG</label><br>
            <input type="checkbox" class="checkbox" id="nokia" />
            <label for="nokia">Nokia</label><br>
            <a href="#">Посмотреть все</a>
            <p class="bold_text" style="text-align: left; margin-top: 10px;">Высокий рейтинг</p>
            <p class="bold_text" style="text-align: left; margin-top: 10px;">Цвет</p>
            <input type="checkbox" class="checkbox" id="red" />
            <label for="red">Красный</label><br>
            <input type="checkbox" class="checkbox" id="blue" />
            <label for="blue">Синий</label><br>
            <input type="checkbox" class="checkbox" id="green" />
            <label for="green">Зеленый</label><br>
            <input type="checkbox" class="checkbox" id="brown" />
            <label for="brown">Коричневый</label><br>
            <input type="checkbox" class="checkbox" id="pink" />
            <label for="pink">Розовый</label><br>
            <a href="#">Посмотреть все</a>
            <p class="bold_text" style="text-align: left; margin-top: 10px;">Страна</p>
            <input type="checkbox" class="checkbox" id="russia" />
            <label for="russia">Россия</label><br>
            <input type="checkbox" class="checkbox" id="usa" />
            <label for="usa">США</label><br>
            <input type="checkbox" class="checkbox" id="japan" />
            <label for="japan">Япония</label><br>
            <input type="checkbox" class="checkbox" id="china" />
            <label for="china">Китай</label><br>
            <input type="checkbox" class="checkbox" id="madagascar" />
            <label for="madagascar">Мадагаскар</label><br>
            <a href="#">Посмотреть все</a>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12 card">
                    <img src="https://main-cdn.goods.ru/mid9/hlr-system/1720393911/100025399383b0.jpg" alt="img"
                        height="160">
                    <p>Смартфон Apple iPhone 11 128GB Black (MWM02RU/A)</p>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <p style="font-weight: 900">100 609 ₽</p>
                    <button class="btn_add">Добавить корзину</button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 card">
                    <img src="https://main-cdn.goods.ru/mid9/hlr-system/1720393911/100025399383b0.jpg" alt="img"
                        height="160">
                    <p>Смартфон Apple iPhone 11 128GB Black (MWM02RU/A)</p>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <p style="font-weight: 900">100 609 ₽</p>
                    <button class="btn_add">Добавить корзину</button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 card">
                    <img src="https://main-cdn.goods.ru/mid9/hlr-system/1720393911/100025399383b0.jpg" alt="img"
                        height="160">
                    <p>Смартфон Apple iPhone 11 128GB Black (MWM02RU/A)</p>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <p style="font-weight: 900">100 609 ₽</p>
                    <button class="btn_add">Добавить корзину</button>
                </div>
                <!-- <div class="col-sm-3 card">
                    <img src="https://main-cdn.goods.ru/mid9/hlr-system/1720393911/100025399383b0.jpg" alt="img"
                        height="160">
                    <p>Смартфон Apple iPhone 11 128GB Black (MWM02RU/A)</p>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <p style="font-weight: 900">100 609 ₽</p>
                    <button class="btn_add">Добавить корзину</button>
                </div>
                <div class="col-sm-3 card">
                    <img src="https://main-cdn.goods.ru/mid9/hlr-system/1720393911/100025399383b0.jpg" alt="img"
                        height="160">
                    <p>Смартфон Apple iPhone 11 128GB Black (MWM02RU/A)</p>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <p style="font-weight: 900">100 609 ₽</p>
                    <button class="btn_add">Добавить корзину</button>
                </div>
                <div class="col-sm-3 card">
                    <img src="https://main-cdn.goods.ru/mid9/hlr-system/1720393911/100025399383b0.jpg" alt="img"
                        height="160">
                    <p>Смартфон Apple iPhone 11 128GB Black (MWM02RU/A)</p>
                    <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <p style="font-weight: 900">100 609 ₽</p>
                    <button class="btn_add">Добавить корзину</button>
                </div> -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
            <div class="col-sm-2 card">
                <img src="#" alt="img"><br>
                <p>Мобильные телефоны и аксессуары</p>
            </div>
        </div> -->
    </div>
</body>
