<header>
    <div class="row header">
        <div class="col-xl-2 col-sm-12" style="text-align: center;">
            <a href="http://localhost:4200/">
                <img class="mainlogo"
                    src="https://www.highload.ru/uploads/f/c8/bc70a30d9390972930c4cbcfbb7f2-fit-400x170-0.png"
                    alt="logo">
            </a>
        </div>
        <div class="col-xl-2 col-sm-12">
            <div class="shop">
                <a href="#">
                    <i class="fas fa-shopping-cart fa-lg catalog_ic"></i>
                    <span style="color: white;">Каталог</span>
                </a>
            </div>
        </div>
        <div class="col-xl-5 col-sm-12 search">
            <input name="" type="text" autocomplete="off" placeholder="Ищите..." tabindex="1" class="searchTerm">
            <button type="submit" class="searchButton">
                <i class="fa fa-search fa-lg"></i>
            </button>
        </div>
        <div class="col-xl-1 col-sm-4 nav">
            <a href="#"><i class="fas fa-user"></i>
                <p>Профиль</p>
            </a>
        </div>
        <div class="col-xl-1 col-sm-4 nav">
            <a href="#"><i class="fas fa-heart"></i>
                <p>Избранное</p>
            </a>
        </div>
        <div class="col-xl-1 col-sm-4 nav">
            <a href="#"><i class="fas fa-shopping-basket"></i>
                <p>Корзина</p>
            </a>
        </div>
    </div>
</header>
