<body>
    <div class="row all">
        <div class="col-xl-12 col-sm-12">
            <!-- <p class="bold_text">Регистрация</p> -->
            <!-- <p class="bold_text">Авторизация</p> -->
            <!-- <p class="bold_text">Восстановление пароля</p> -->
        </div>
        <div class="col-sm-12" style="text-align: center;">
            <!-- <div class="cardz">
               <p>Email:</p>
               <input type="text">
               <p>Пароль:</p>
               <input type="text">
               <button class="btn">Зарегистрироваться</button>
               <p style="margin-top: 20px; font-size: 12px;">Уже зарегистрированы? <a href="#">Войти</a></p>
            </div> -->
            <!-- <div class="cardz">
               <p>Email:</p>
               <input type="text">
               <p>Пароль:</p>
               <input type="text">
               <button class="btn">Авторизоваться</button>
               <p style="margin-top: 20px; font-size: 12px;">Проблемы со входом? <a href="#">Восстановить пароль</a></p>
            </div> -->
            <!-- <div class="cardz">
               <p>Email:</p>
               <input type="text">
               <button class="btn">Восстановить пароль</button>
            </div> -->
        </div>
    </div>
</body>
